@font-face {
  font-family: "Yoster";
  src: url('yoster.ttf');
}

body {
  margin: 0;
  //background: #caf9cf url('congruent_pentagon.png');
}

ins {
  text-decoration: none;
}

#body {
  margin: 0 auto;
  font-family: "Yoster";
}

.button {
  margin: 5px 3px;
  padding: 1px 2px;
  color: #fff;
  background-color: #777;
  border-radius: 5px;
  text-decoration: none;
}

.hire {
  background-color: #77f;
}

.fire {
  background-color: #f77;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}

.text {
  display: inline-block;
  margin: 5px;
}

#employees {
  position: absolute;
  top: 5px;
  right: 5px;
}

.employee {
  background-color: #ccc;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  display: inline-block;
  padding-top: 22px;
}
