@font-face {
  font-family: "DPComic";
  src: url('dpcomic.ttf');
}

body {
  margin: 0;
  background: url('congruent_pentagon.png');
  vertical-align: middle;
}

ins {
  text-decoration: none;
}

#body {
  background: url('garage.png');
  width: 800px;
  height: 600px;
  border: 3px #000 solid;
  border-radius: 15px;
  margin: auto;
  font-family: "DPComic";
  font-size: 18px;
  position: relative;
  color: #fff;
}

.box {
  background-color: rgba(0,0,0,0.8);
  border: 2px #555 solid;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
}

.button {
  margin: 5px 3px;
  padding: 1px 2px;
  background-color: #777;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #555;
  color: #f55
}

.text {
  display: inline-block;
  margin: 5px;
}

#employees {
  width: 400px;
}

.employee {
  position: relative;
  display: inline-block;
  width: 388px;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
}

.employee:hover {
  height: 94px;
}

.portrait {
  border: 2px #555 solid;
  border-radius: 8px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.name {
  position: absolute;
  top: 4px;
  left: 58px;
  font-size: 26px;
}

.count {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 56px;
}

.cost {
  position: absolute;
  top: 30px;
  left: 58px;
}

div.hire {
  margin-top: 52px;
  margin-left: 54px;
  display: none;
}

.employee:hover div.hire {
  display: block;
}

div.fire {
  margin-top: 2px;
  margin-left: 54px;
  display: none;
}

.employee:hover div.fire {
  display: block;
}

a.hire {
  background-color: #77f;
}

a.fire {
  background-color: #f77;
}

#interactive {
  position: absolute;
  top: 0;
  right: 0;
  width: 388px;
  margin-top: 5px;
  margin-right: 5px;
}

.placename {
  
}

#moneys {
  margin-top: 10px;
  color: #5e1;
  font-size: 65px;
  text-align: center;
  text-shadow: 1px 1px 10px #000;
}

.coin {
  text-align: center;
}

.coin img {
  -webkit-filter: drop-shadow(0 0 3px #000) drop-shadow(0 0 10px #000) drop-shadow(0 0 10px rgba(0,0,0,0.3));
  margin: 15px;
  width: 250px;
  height: 250px;
}

.coin img:hover {
  margin: 12px;
  width: 256px;
  height: 256px;
}

.coin img:active {
  margin: 15px;
  width: 250px;
  height: 250px;
}

#loc {
  position: relative;
  height: 70px;
  text-align: center;
}

#locname {
  margin-top:6px;
  font-size: 20px;
}

#buildings {
  font-size: 20px;
  position: absolute;
  top: 6px;
  left: 5px;
  display: none;
}

#campuses {
  font-size: 20px;
  position: absolute;
  top: 6px;
  right: 5px;
  display: none;
}

.income {
  position: absolute;
  top: 30px;
  left: 5px;
}

#revenue {
  color: #5e1;
}

.rent {
  position: absolute;
  top: 30px;
  right: 5px;
}

.cap {
  position: absolute;
  top: 50px;
  left: 5px;
}

#upgrade {
  position: absolute;
  top: 50px;
  right: 5px;
}