@font-face {
  font-family: "DPComic";
  src: url('dpcomic.ttf');
}

body {
  margin: 0;
  background: url('congruent_pentagon.png');
  vertical-align: middle;
}

ins {
  text-decoration: none;
}

#body {
  background: url('garage.png');
  width: 800px;
  height: 600px;
  border: 3px #000 solid;
  border-radius: 15px;
  margin: auto;
  font-family: "DPComic";
  position: relative;
  color: #fff;
}

.button {
  margin: 5px 3px;
  padding: 1px 2px;
  background-color: #777;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.text {
  display: inline-block;
  margin: 5px;
}

#employees {
  width: 400px;
}

.employee {
  background-color: rgba(0,0,0,0.8);
  border: 2px #555 solid;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 388px;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 1px 1px 5px #000;
}

.portrait {
  border: 2px #555 solid;
  border-radius: 8px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.name {
  position: absolute;
  top: 4px;
  left: 58px;
  font-size: 26px;
}

.count {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 56px;
}

.cost {
  position: absolute;
  top: 30px;
  left: 58px;
  font-size: 18px;
}

.hire {
  background-color: #77f;
}

.fire {
  background-color: #f77;
}

#interactive {
  position: absolute;
  top: 0;
  right: 0;
  width: 388px;
  margin-top: 5px;
  margin-right: 5px;
}

#moneys {
  color: #5e1;
  font-size: 80px;
  text-align: center;
  text-shadow: 1px 1px 10px #000;
}

.interactive {
  background-color: rgba(0,0,0,0.8);
  border: 2px #555 solid;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
}